body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.background-slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: slideShow 36s linear infinite;
}

.bg-img:nth-of-type(1) {
    animation-delay: 0s;
}

.bg-img:nth-of-type(2) {
    animation-delay: 12s;
}

.bg-img:nth-of-type(3) {
    animation-delay: 24s;
}

@keyframes slideShow {

    0%,
    33.333%,
    100% {
        opacity: 0;
    }

    16.667%,
    33.332% {
        opacity: 1;
    }
}

.navbar {
    background-color: #005f73;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volunteer-form-section {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.volunteer-form-section h1,
.volunteer-form-section p {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 100px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #005f73;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #004a5e;
}

footer {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
}