<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">

    <title>Charity Platform - Home</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../../static/CSS/footer-style.css">
    <link rel="stylesheet" href="../../static/CSS/nav-style.css">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <header>
        <nav class="navbar" id="navbar">
            <div class="nav-container">
                <a href="{{ url_for('index') }}" class="logo">Charity Platform</a>
                <ul class="nav-links">
                    <li><a class="{{ 'active' if request.path == url_for('index') else '' }}" href="{{ url_for('index') }}"><i
                                class="fa fa-home"></i> Home</a></li>
                    <li><a class="{{ 'active' if request.path == url_for('donation') else '' }}" href="{{ url_for('donation') }}"><i
                                class="fa fa-hand-holding-heart"></i> Donate</a></li>
                    <li><a class="{{ 'active' if request.path == url_for('assistance') else '' }}" href="{{ url_for('assistance') }}"><i
                                class="fa fa-hands-helping"></i> Request Assistance</a></li>
                    <li><a class="{{ 'active' if request.path == url_for('volunteer') else '' }}" href="{{ url_for('volunteer') }}"><i
                                class="fa fa-users"></i> Volunteer</a></li>
                    <li><a class="{{ 'active' if request.path == url_for('login') else '' }}" href="{{ url_for('login') }}"><i
                                class="fa fa-sign-in-alt"></i> Login</a></li>
                </ul>

                <div class="menu-toggle" onclick="toggleMenu()">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </nav>
    </header>
    <main>
    {% block content %}{% endblock %}
    </main>
    {% if include_footer !=false %}
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Charity Platform. All rights reserved.</p>
            <div class="social-icons">
                <!-- Add social media icons here -->
                <div class="social-icons">
                    <!-- Add social media icons here -->
                    <a href="https://facebook.com" class="fab fa-facebook"></a>
                    <a href="https://twitter.com" class="fab fa-twitter"></a>
                    <a href="https://instagram.com" class="fab fa-instagram"></a>
                    <a href="https://linkedin.com" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>
    </footer>
    {% endif %}

    <script>
        // Toggle Menu Function
        function toggleMenu() {
            var nav = document.querySelector('.nav-links');
            nav.classList.toggle('active');
        }
    </script>
    {% block extra_js %}{% endblock %}
</body>

</html>