{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/login-styles.css') }}">
<style>
    body,
    html {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background-image: url('{{ background_image_url }}');
        background-size: cover;
        background-position: center;
    }
</style>
{% endblock %}

{% block content %}
<main class="login-page">
    <section class="login-form login-container" id="login-form">
        <h2>Login</h2>
        <form action="{{ url_for('login') }}" method="POST">
            <div class="input-container">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="input-container">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p><a href="{{ url_for('login') }}">Forgot Password?</a></p>
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Create New Account</a></p>
    </section>
</main>
{% endblock %}

{% block extra_js %}
<script>
    function toggleMenu() {
        var nav = document.querySelector('.nav-links');
        nav.classList.toggle('active');
    }

    function showLoginForm() {
        document.getElementById('facebook-form').style.display = 'none';
        document.getElementById('google-form').style.display = 'none';
        document.getElementById('login-form').style.display = 'block';
    }

    function showFacebookForm() {
        document.getElementById('login-form').style.display = 'none';
        document.getElementById('google-form').style.display = 'none';
        document.getElementById('facebook-form').style.display = 'block';
    }

    function showGoogleForm() {
        document.getElementById('login-form').style.display = 'none';
        document.getElementById('facebook-form').style.display = 'none';
        document.getElementById('google-form').style.display = 'block';
    }
</script>
{% endblock %}