{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/login-styles.css') }}">
{% endblock %}

{% block content %}
<main class="login-page">
    <section class="login-form login-container" id="login-form">
        <h2>Login</h2>
        <form action="/login" method="POST"> <!-- Changed action to "/login" and method to "POST" -->
            <div class="input-container">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="input-container">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p><a href="forgot_password.html">Forgot Password?</a></p>
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Create New Account</a></p>
    </section>
</main>
{% endblock %}
<!-- Flash messages section -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-messages">
    {% for message in messages %}
    <div class="flash-message {{ message[1] }}">
        {{ message[0] }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

{% block extra_js %}
<script>
    function toggleMenu() {
        var nav = document.querySelector('.nav-links');
        nav.classList.toggle('active');
    }

    function showLoginForm() {
        document.getElementById('facebook-form').style.display = 'none';
        document.getElementById('google-form').style.display = 'none';
        document.getElementById('login-form').style.display = 'block';
    }

    function showFacebookForm() {
        document.getElementById('login-form').style.display = 'none';
        document.getElementById('google-form').style.display = 'none';
        document.getElementById('facebook-form').style.display = 'block';
    }

    function showGoogleForm() {
        document.getElementById('login-form').style.display = 'none';
        document.getElementById('facebook-form').style.display = 'none';
        document.getElementById('google-form').style.display = 'block';
    }
</script>
{% endblock %}
