{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/forgot-reset_password.css') }}">
<style>
    body,
    html {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background-image: url('{{ background_image_url }}');
        background-size: cover;
        background-position: center;
    }
</style>
{% endblock %}
{% block content %}
<main class="password-page">
    <div class="password-container">
        <h2>Reset Password</h2>
        <form action="{{ url_for('reset_password', token=token) }}" method="POST">
            <div class="input-container">
                <input type="password" name="password" placeholder="Enter your new password" required>
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</main>
{% endblock %}